@charset "UTF-8";
/* CSS Document */
/* Table of Contents
-----------------------------------------
-General Content
-Typography
-Header & Navigation
-Images & Media 
-----------------------------------------*/

/*RootAnchor + Model
-----------------------------------------*/
#rootAnchor { position:absolute; left:0; right:0; margin:15px auto; width:0; }
.treeNode, .treeNodeHiParent, .treeNodeHiChild { position:absolute; white-space:nowrap; text-align:center; margin-left:10px;  }
.treeNode span { display:inline-block; vertical-align: top; }
.treeNode .formula { margin:0 3px; }
.nodenumber { color: #566; width: 1.5em; padding-top:1px; text-align: right; }
.fromnumbers { color: #566; width: 2.5em; padding-top:1px; text-align: left; }
.worldlabel { color: #742; width: 1.5em; padding-top:1px; margin-right:0.5em; text-align: center; }
.treeNode b { display:block; margin-bottom:100px; }

#model { margin:20px; padding:3px 20px; text-align:center; display:none; }
#model b { font-weight:500; color:#023; }
#model table { margin:auto; border:1px solid #999; padding:5px; }

/*General Content
-----------------------------------------*/
.main {padding-top: 3%;}
.row {padding: 2% 0;}
.red {background-color: #ffffff;}
.grey {background-color:#9999;}

/*Display Propositional Logic Output
-----------------------------------------*/
.containCenter {
	display: flex;
	justify-content: center;
  }

.rootAnchorTest {
	width: 400px;
	height: 400px;
	position: relative;
  }
/*Typography
-----------------------------------------*/
body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	color: #000;
}
a {
	text-decoration: none;
	/* color: rgb(163, 203, 255); */
}

.button-primary {
	margin: 0 auto;
	text-align: center;
}
/*Tile Headings*/
h1 {
	font-family: 'Heebo', sans-serif;
	font-size: 1.2em;
	margin: 0.67em;
	color: #000000;
	text-align: center;
}
/*Tile Body*/
h2 {
	font-family: "Heebo", sans-serif;
	font-size: 4em;
	color: #000000; 
	text-align: left;
}
/*Copyright Footer Line*/
h3 {
	font-family: "Ubuntu", sans-serif;
	font-size: 1em;
	color: #FFFFFF; 
	text-align: center;
}

/*Footer Text*/
h4 {
	font-family: "Heebo", sans-serif;
	font-size: 1em;
	margin: 0.67em;
	color: rgb(64, 147, 255);
	text-align: center;
}
/*About Us Signature*/
h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	margin: 0.67em;
	color: #000000;
	text-align: left;
}
/*About Us Signature*/
h6 {
	font-family: 'Heebo', sans-serif;
	font-size: 1.2em;
	margin: 0.67em;
	color: #FFFFFF;
	text-align: center;
}

/*Card Title Font*/
h7 {
	font-family: 'Heebo', sans-serif;
	font-size: 2.2em;
	text-align: left;
	color: #000000;
}

/*Card Body Font*/
h8 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	text-align: left;
	color: #000000;
}

/*Card Body Font for Links*/
h9 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	text-align: left;
	color: rgb(163, 203, 255);
}
/*Three Tiles*/
.left {
	background-color: #FFFFFF;
	margin: -30px 0px 10px -60px;
	border: #ffffff solid medium;
}
.center {
	background-color: #FFFFFF;
	margin: -30px -30px 10px -30px;
	border: #ffffff solid medium;
}
.right {
	background-color: #FFFFFF;
	margin: -30px -60px 10px 0px;
	border: #ffffff solid medium;
}
.containercontact {
	margin: 0 auto;
	text-align: left;
	padding: 20px 20px 20px 40px;
	background-color: #CCCCCC;
	border: #666 solid thick;
	border-radius: 10px;
}
.bio {
	text-align: center;
	margin: -150px -350px 0px 0px;
}

/*Images & Media
-----------------------------------------*/
img {max-width: 100%;}
.gallery-item:hover {opacity: 0.8;}
img.avatar {
	display: block;
	margin: 20px auto; 
	width: 50%;
}
.logo { 
	float: right;
	margin: 0 auto; 
	display: relative;
	left: 30px;
	right: 30px;
	
}
.logo a:hover {opacity: 0.8;}

.contactme {
	position: fixed;
	text-align: center;
	background: #000000;
	bottom: 0;
	right: 0;
	margin: 0 20px 30px 0;
}
.contactme a{
	font-size: 1em;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #5EEC95;
	border: 8px solid #5EEC95;
	border-radius: 20px;
	padding: 15px 10px 15px 10px;
}
.contactme a:hover {
	background-color: #000000;
	color: #66a4ff;
	border-radius: 20px;
	border: 8px solid #000000;
}

.banner a:hover {opacity: 0.7;}
.banner2 a:hover {opacity: 0.7;}
.banner2 {
	margin: 0px -60px 0px -60px;
}

.rightimage {
	text-align: center;
}

/*Three Tiles*/
.left {
	background-color: #FFFFFF;
	margin: 0 auto;
	border: #ffffff solid medium;
}
.center {
	background-color: #FFFFFF;
	margin: 0 auto;
	border: #ffffff solid medium;
}
.right {
	background-color: #FFFFFF;
	margin: 0 auto;
	border: #ffffff solid medium;
}
/*Bottom Banners*/
.banner2 {
	margin: 0px auto;
}
